extends layout

block content
  h1= title
  p Welcome to #[em BISH], an online system that helps organise the business information.

  h1 Facts

  if error
    p Error getting facts.
  else
    p The system has the following record counts:

    ul
      li #[strong Products:] !{data.product_count}
      li #[strong Clients:] !{data.client_count}