extends layout

block content
  h1= title
  
  ul
    - product_list.sort(function(a, b) {let textA = a.code.toUpperCase(); let textB = b.code.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    table(id='product_css')
      tr
        th CODE
        th Description
        th Supply Only Price
        th Comment
      each product in product_list
        tr
          td #{product.code} 
          td #{product.description} 
          td $#{product.price_supply_only} 
          td 